In [ ]:
import pandas as pd

In [ ]:
# Q1. List any five functions of the pandas library with execution.
# Answer - 

#1 -  pd.read_csv(): This function is used to read data from a CSV file and create a DataFrame.
#2 - df.drop(): This method is used to remove specific rows or columns from a DataFrame.
#3 - df.sort_values(): This method is used to sort the rows of a DataFrame based on the values in one or more columns.
#4 - df.describe(): Generate summary statistics of numerical columns in the DataFrame.
#5 - df.columns: Access the column labels of the DataFrame.

#Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [26]:
import pandas as pd

 

data = {'name': ['John', 'Jane', 'Bob'], 'age': [25, 30, 35]}

df = pd.DataFrame(data)

 

for index, row in df.iterrows():

    print(row['name'], row['age'])

John 25
Jane 30
Bob 35

In [ ]:
import pandas as pd

 

data = {'name': ['Alice', 'Bob', 'Charlie'], 'age': [30, 25, 40]}

df = pd.DataFrame(data)

 

df_subset = df.loc[1:2, 'name']

 

print(df_subset)

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [7]:
#Solve 4 
import pandas as pd
data = {'ID' : [1,2,3,4,5,6,7],
       'Names' : ['mayur', 'sagar','ronit', 'sharavan', 'aakash','anurag', 'ankuj']}
df = pd.DataFrame(data)
df['word_len'] = df['Names'].apply(len)
print(df)

Q5.  How are DataFrame.size() and DataFrame.shape() different?
Answer - 

DataFrame.size: This attribute returns the total number of elements in the DataFrame, which is calculated as the product of the number of rows and the number of columns. It gives you the total count of cells in the DataFrame.

DataFrame.shape: This attribute returns a tuple representing the dimensions of the DataFrame. It provides the number of rows and columns in the DataFrame. The shape is given in the format (rows, columns).

Q6. Which function of pandas do we use to read an excel file?

In [14]:
##solve 6

df = pd.read_excel("Random data.xlsx")
print(df)

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

In [6]:
#solve 7 

import pandas as pd

data = {'Email' : ["Mayur@gamil", "sagar@gmail", "Bob@gamil", "anurag@gmail"
                  ]
}

df = pd.DataFrame(data)

df['Username'] = df['Email'].str.split('@').str[0]

In [7]:
df['Username']

0     Mayur
1     sagar
2       Bob
3    anurag
Name: Username, dtype: object

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

In [16]:
#solve 8 

import pandas as pd



data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)

df1 = df.query('A > 5 and B < 10')

In [15]:
df1

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [17]:
#solve Q9 




data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)


mean_value = df['Values'].mean()
median_value = df['Values'].median()
std_deviation = df['Values'].std()

In [18]:
mean_value

30.0

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

In [19]:
#solve Q11

data = {'Date': ['2023-08-14', '2023-08-15', '2023-08-16']}
df = pd.DataFrame(data)


df['Date'] = pd.to_datetime(df['Date'])
df['Weekday'] = df['Date'].dt.strftime('%A')

In [21]:
df

        Date    Weekday
0 2023-08-14     Monday
1 2023-08-15    Tuesday
2 2023-08-16  Wednesday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [23]:
#solve Q12

data = {'Date': ['2023-01-15', '2023-02-10', '2023-01-25', '2023-03-05']}
df = pd.DataFrame(data)

df['Date'] = pd.to_datetime(df['Date'])


start_date = pd.to_datetime('2023-01-01')
end_date = pd.to_datetime('2023-01-31')


selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]

In [25]:

selected_rows

        Date
0 2023-01-15
2 2023-01-25

Q13 To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

Answer - The first and foremost necessary library that needs to be imported to use the basic functions of pandas is the pandas library itself. You can import it using the following line of code: import pandas as pd